CompileFlags:
  Add:
    - "-U__clang__" # Undefine the __clang__ macro
  Remove:
    - "-Werror"
  CompilationDatabase: .
---
If:
  PathExclude: ["src/include/FreeRTOSConfig.h"]
CompileFlags:
  Add:
    - "-include"
    - "lib/CMSIS-FreeRTOS/Source/include/FreeRTOS.h"
